
.icon {
    width: 40px;
    height: 40px;
}

.mini-icon {
    width: 20px;
    height: 15px;
    box-sizing: content-box;
}

#nome-todo {
    font-size: 20px;
    color: rgb(76, 121, 255);
}

.carousel-inner>.carousel-item>img {
    width: 700px;
    height: 400px;
}

hr {
    margin: 20px 0;
}
#fperfil{
    width: 350px;
    height: 400px;
    
}
.imgcolegas{ 
    width: 100%;;
}

@media screen {
    
}
